.line_texture,.line_texture *{
    /* border:solid 1px red; */
    position: absolute;
}
/* .line_texture{
    position: absolute;
    width: 100vw;
} */

.line_texture figure{
    position: absolute;
    mix-blend-mode: multiply;
    z-index: 0;
}
figure.texture01{
    width: 120px;
    height: 200px;
    top: 30vh;
    left: calc(50vw - 330px);
    background: url(../img/line-style/03.jpg);
    opacity: .5;
    clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 25%, 75% 25%, 75% 75%, 25% 75%, 25% 100%, 100% 100%, 100% 0%);
}
figure.texture02{
    width: 450px;
    height: 20px;
    top: 45vh;
    left: calc(50vw - 450px);
    background: url(../img/line-style/02.jpg);
    opacity: .5;
}
figure.texture03{
    width: 80px;
    height: 80px;
    top: 59vh;
    left: calc(50vw - 460px);
    background: url(../img/line-style/01.jpg);
    opacity: .5;
}
figure.texture04{
    width: 20vw;
    height: 120px;
    top: 63vh;
    left: calc(10vw - 30px);
    background: url(../img/line-style/01.jpg);
    opacity: .5;
}
figure.texture05{
    width: 22vw;
    height: 90px;
    top: 21vh;
    left: calc(50vw + 100px);
    background: url(../img/line-style/01.jpg);
    opacity: .5;
}
figure.texture06{
    width: 260px;
    height: 180px;
    top: 58vh;
    left: 50vw ;
    background: url(../img/line-style/03.jpg);
    opacity: .5;
    clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 25%, 85% 25%, 85% 75%, 25% 75%, 25% 100%, 100% 100%, 100% 0%);
}
figure.texture07{
    width: 150px;
    height: 40px;
    top: 67vh;
    left: calc(50vw + 190px);
    background: url(../img/line-style/02.jpg);
    opacity: .5;
}
figure.texture08{
    width: 260px;
    height: 300px;
    top: 98vh;
    left: 35vw ;
    background: url(../img/line-style/03.jpg);
    opacity: .3;
}
.line_texture .introduce{
    left: 30vw;
    text-shadow: 1.5px 0 0 rgba(0, 0, 0 ,.5);
}
.line_texture .introduce .titleText{
    /* display: inline-block; */
    width: 50vw;
    letter-spacing: 2px;
    line-height: 80px;
    top: 100vh;
    font-size: 50px;
}
.line_texture .introduce .locaText{
    display: inline-block;
    width: 50vw;
    letter-spacing: 1px;
    line-height: 80px;
    top: 123vh;
}

figure.texture09{
    width: 200px;
    height: 380px;
    top: 59vh;
    left: calc(100vw - 100px);
    background: url(../img/line-style/01.jpg);
    opacity: .5;
}
figure.texture10{
    width: 500px;
    height: 500px;
    top: 160vh;
    left: 55vw;
    background: url(../img/line-style/01.jpg);
    opacity: .5;
}
figure.texture11{
    width: 45px;
    height: 20px;
    top: 30vh;
    left: calc(50vw - 450px);
    background: url(../img/line-style/02.jpg);
    opacity: .5;
}
figure.texture12{
    width: 30px;
    height: 200px;
    top: 140vh;
    left: 60vw;
    background: url(../img/line-style/02.jpg);
    opacity: .5;
}
figure.texture13{
    width: 350px;
    height: 350px;
    top: 100vh;
    left:-370px;
    opacity: 1;
}
.introbox{
    top: 140vh;
    left: 200px;
}
.introbox .intro{
    position: relative;
    top: 10vh;
    left: 0vw;
    margin-bottom: 180px;
}
.introbox .intro .yearText{
    position: absolute;
    top: 0;
    line-height: 20px;
    text-align: center;
}
.introbox .intro .yearText::after{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    content: "";
    width: 3px;
    height: 20px;
    background: #000;
}
.introbox .intro .expText{
    position: relative;
    line-height: 50px;
    width: 500px;
    left: 70px;
    font-size: 25px;
}
figure.texture14{
    width: 160px;
    height: 200px;
    top: 230vh;
    left: 0vw;
    background: url(../img/line-style/01.jpg);
    opacity: .5;
}
figure.texture15{
    width: 200px;
    height: 30px;
    top: 180vh;
    left: 15vw;
    background: url(../img/line-style/02.jpg);
    opacity: .5;
}
figure.texture16{
    width: 200px;
    height: 50vh;
    top: 220vw;
    left: calc(100vw - 200px);
    background: url(../img/line-style/04.jpg);
    opacity: .3;
}
.thanku h2{
    text-align: center;
    /* border: solid 1px red; */
    display: inline-block;
    top: 250vw;
    left: calc(100vw - 450px);
    width: 700px;
    font-size: 50px;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
.thanku h2 span{
    position: relative;
    font-size: 150px;
    opacity: .5;
    color: transparent;
    background: url(../img/line-style/04.jpg);
    -webkit-background-clip: text;
    -webkit-background-blend-mode: multiply;
}
.workTile h2{
    position: fixed;
    text-align: center;
    display: inline-block;
    top: 50vh;
    /* left:85vw; */
    width: 700px;
    font-size: 50px;
    font-weight: 900;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform:translateY(-50%) rotate(-90deg);
    line-height: 350px;
}
.workTile h2 span{
    position: relative;
    font-size: 150px;
    font-weight: 100;
}
.workTile h2 span::after{
    position: absolute;
    content: "";
    top: 50px;
    left: -50px;
    width: 250px;
    height: 100px;
    background: url(../img/line-style/04.jpg);
    mix-blend-mode: multiply;
}

figure.texture17{
    width: 130px;
    height: 7vh;
    top: 200vw;
    left: 50vw;
    background: url(../img/line-style/02.jpg);
    opacity: .5;
}
figure.texture18{
    width: 30vw;
    height: 17vh;
    top: 160vw;
    left: 80vw;
    background: url(../img/line-style/01.jpg);
    opacity: .5;
    clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 25%, 85% 25%, 85% 75%, 25% 75%, 25% 100%, 100% 100%, 100% 0%);
}
.bgIntro{
    display: block;
}
.smIntro{
    display: none;
}
.smTitle{
    display: none;
}
@media screen and (max-width:980px){
    .thanku{
        display: none;
    }
    figure.texture08{
        top: 130vh;
        left: 10vw;
        height: 30px;
        animation: lineAni 2s infinite cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    figure.texture14{
        display: none;
    }
    figure.texture16{
        width: 5vw;
        left: auto;
    }
    figure.texture17{
        display: none;
    }
    figure.texture18{
        top: 130vw;
        left: -10vw;
    }
    .line_texture .introduce{
        position: absolute;
        display: flex;
        /* border-color: yellowgreen; */
        top: 100vh;
        left: 0;
        width: 100vw;
        text-align: center;
        justify-content: center;
    }
    .line_texture .introduce .texture13{
        /* border-color:blue; */
        position: relative;
        display: block;
        width: 100%;
        left: 50%;
        transform: translateX(-50%);
        top: 0;
    }
    .line_texture .introduce .texture13 img{
        display: block;
        width: 35%;
        left: 50%;
        transform: translateX(-50%);
        top: 0;
    }
    .line_texture .introduce .locaText{
        transform: rotate(90deg);
        left: -10vw;
        top: 15vh;
    }
    .line_texture .introduce .titleText{
        top: 30vh;
        width: 100vw;
        padding: 0 20px;
    }
    .bgIntro.introbox{
        display: none;
    }
    .smIntro{
        display: block;
    }
    .smIntro.introbox, .smIntro.introbox *{
        /* border:solid 1px blue */
    }
    .smIntro.introbox{
        width: 90vw;
        margin: auto;
        position: relative; ;
        top: 170vh;
        left: 50vw;
        transform: translateX(-50%);
    }
    .introbox .intro{
        width: 100%;
        padding-left: 5vw;
        margin-bottom: 10vh;
        transform: translateY(50%);
        opacity: 0;
    }
    .introbox .intro .expText{
        position: relative;
        width: 65vw;
    }
    .bgTitle{
        display: none;
    }
    .smTitle ,.smTitle *{
        /* border: solid 1px blue; */
    }
    .smTitle{
        position: fixed;
        display: block;
        width: 30vw;
        height: 100vh;
        left: 0px;
        top: 100vh;
    }
    .smTitle.workTile h2{
        position: absolute;
        box-sizing: content-box;
        left: -30vh;
        line-height: 0;
        font-size: 7vw;
    }
}
@keyframes lineAni{
    0%{
        transform: scaleX(1) scaleY(1);
    }
    50%{
        transform: scaleX(.8) scaleY(1.2);
    }
    100%{
        transform: scaleX(1) scaleY(1);
    }
}