.translation{
    position: fixed;
    width: 100vw;
    height: 0vh;
    background: #231815;
}
.to_work{
    top: 100vh;
}
.work_ani{
    animation: to_work 2s cubic-bezier(1, 0, 0, 1);
}
@keyframes to_work{
    0%{
        height: 0vh;
        top: 100vh;
    }
    50%{
        height: 100vh;
        top: 0vh;
    }
    100%{
        height: 0vh;
        top: 0vh;
    }
}
.to_index{
    height: 0vh;
}
.index_ani{
    animation: to_index 2s cubic-bezier(1, 0, 0, 1);
}
@keyframes to_index{
    0%{
        height: 0vh;
        top: 0vh;
    }
    50%{
        height: 100vh;
        top: 0vh;
    }
    100%{
        height: 0vh;
        top: 100vh;
    }
}

.workPage, .workPage *{
    /* border: solid 1px red; */
}
.workPage{
    display:none;
    position: absolute;
    top: 0;
    left:0;
}
.workPage_bg{
    position: fixed;
    width: 4000px;
    height: 100vh;
    background:url(../img/bg.svg) , linear-gradient(to bottom , rgb(255, 255, 255),rgb(226, 226, 226)) ;
}
.workPage_bg h2{
    position: absolute;
    top: 17vh;
    left: 20vw;
    font-size: 130px;
    font-weight: 900;
}
.workPage_bg h2 span{
    position: absolute;
    top: -25vh;
    left: -10vw;
    font-size: 500px;
    font-weight: 100;
    background: url(../img/line-style/04.jpg);
    color: transparent;
    -webkit-background-clip: text;
    z-index: -1;
    opacity: .3;
}

.workPage .content01{
    position: absolute;
    top: 57vh;
    left: 50vw;
    transform: translateX(-50%);
    width: 1440px;
    height: 3782px;
    background: url(../img/work/web_1440.jpg) center no-repeat;
    box-shadow: 20px 20px 30px 0 rgba(0,0,0,.5);
}
@media screen and (max-width:980px){
    .workPage_bg h2{
        top: 5vh;
        font-size: 80px;
    }
    .workPage .content01{
        top:28vh;
        width: 640px;
        height: 3353px;
        background: url(../img/work/mobile_320.jpg) top center no-repeat;
    }
}
#prePage{
    display: block;
}
#smprePage{
    display: none;
}
.prePage{
    position: absolute;
    width: 40px;
    height: 40px;
    opacity: .2;
    top: 42vh;
    left: 46vw;
}
.prePage:hover{
    opacity: 1;
    transform: scale(1.2);
}
@media screen and (max-width:980px){
    #smprePage{
        display: block;
    }
    #prePage{
        display: none;
    }
    .prePage{
        top: 19vh;
        left: 65vw;
    }
}